body {
    height: 100%;
    width: 100%;
    background-color: hwb(220 98% 1%);
    text-align: center;
    margin-top: 100;
}
header{
    color: rgb(241, 244, 243);
    background-color: rgb(25, 1, 91);
    height: 5ch;
    text-align: left;
    padding: 1ch;
    padding-bottom: 3ch;
}
h1{
    color: hsla(233, 98%, 25%, 0.975);
}
input{
    padding: 10px;
    width: 250px;
    font-size: 16px;   
    background-color: rgb(249, 244, 244);   
    color: rgb(0, 10, 18);
}
#addstudents{
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(3, 188, 12);
    
}

#studentContainer{
    margin-top: 10px;
}
#studentContainer span{
    flex: 1;
    text-align: left;
    overflow-wrap: anywhere;
}

#studentContainer div{
    background-color: rgb(244, 245, 246);
    width: 350px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-wrap: break-word;
    box-shadow: 5px 5px 10px 0px rgba(8, 82, 242, 0.5);
}
.deleteBtn{
    background-color: rgb(167, 10, 10);
    color: rgb(246, 238, 238);
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    margin-left: 5px;
}
.editBtn{
    background-color: rgb(6, 120, 6);
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    margin-left: 5px;
}
footer{

    text-align: center;
    color: rgb(90, 93, 95);
    align-items: center;
    padding:15px;
    margin-top:30px;
    font-size:15px;
}
